{% extends "../_includes/page.html" %}

{% block meta %}
  <title>{{ store.title }} - Eye Heart Tattoo</title>
  <meta name="description" content="Buy awesome merch from your favorite Raleigh tattoo shop."/>
{% endblock %}

{% block title %}{{ store.title }}{% endblock %}
{% block image %}<img src="/static/img/shop-store.jpg" alt="The shop merch store" class="object-cover w-full h-full object-center">{% endblock %}
{% block text %}
  {{ store.element.code | safe }}
{% endblock %}

{% block script %}
  <script type="text/javascript">
    {{ store.shopify_script.code | safe }}
  </script>
{% endblock %}