@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Brannt Chiseled';
    src:
      local(''),
      url(../fonts/brannt-chiseled.woff2) format('woff2'),
      url(../fonts/brannt-chiseled.woff) format('woff');
  }
  @font-face {
    font-family: 'Brannt';
    src:
      local(''),
      url(../fonts/brannt.woff2) format('woff2'),
      url(../fonts/brannt.woff) format('woff');
  }
  @font-face {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/itim.woff2') format('woff2'),
        url('../fonts/itim.woff') format('woff');
  }
}
