---
layout: default
title: Neat Starter
path: home
---

<script type="module">
  import { createApp, reactive } from "https://unpkg.com/petite-vue?module"

  const store = reactive({
    open: false
  })

  createApp({
    store
  }).mount()
</script>

<main>
  <div>
    <!-- Hero card -->
    {% include "./_includes/partials/hero-card.html" %}
    {% include "./_includes/partials/team.html" %}
    {% include "./_includes/partials/shop-banner.html" %}
  <!-- More main page content here... -->
</main>
