<div class="relative sm:pb-10">
  <div class="absolute inset-x-0 bottom-0 sm:h-3/5 bg-sunset"></div>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="relative pb-32 sm:pb-0">
        <!-- <div class="absolute sm:rounded-3xl inset-0 -inset-3 bg-bush"></div> -->
        <div class="absolute sm:rounded-2xl inset-0 sm:overflow-hidden bg-white">
          <img class="h-full filter hue-rotate-180 opacity-80 sm:opacity-30 relative w-full object-cover" src="./static/img/line-art-board-full.png" alt="Line art">
          <div class="sm:hidden absolute inset-0 bg-gradient-to-t from-transparent to-white"></div>
        </div>
        <div class="relative px-4 py-2 sm:pt-14">
          <h1 class="text-center text-5xl font-heading text-steel sm:text-8xl lg:text-9xl">
              Eye Heart<br /> <span class="text-7xl sm:text-9xl lg:text-10xl">Tattoo</span>
          </h1>
          <!-- <p class="mt-6 max-w-lg mx-auto text-center text-xl text-white sm:max-w-3xl">
              Raleigh’s premier tattoo studio. Located downtown, Eye Heart Tattoo features some of the most talented and sought after artists in the area.
          </p> -->
        </div>
      </div>
    </div>
    <div class="bg-aqua-darker sm:bg-transparent relative sm:mt-20 lg:max-w-4xl mx-auto py-12 sm:py-0 px-4 sm:px-6 lg:px-8 lg:text-center tracking-wider text-white">
      <p class="text-3xl font-subheading text-white sm:text-4xl mb-4 uppercase">Raleigh’s premier tattoo studio</p>
      <p class="sm:font-handwriting leading-8 font-bold text-xl sm:uppercase">
        {{ homepage.introduction }}
      </p>
    </div>
  </div>
</div>